<template>
  <div id="app">
    <navbar></navbar>
    <router-view />
  </div>
</template>

<script>
import navbar from "./components/Navbar.vue";
export default {
  components: { navbar },
};
</script>

<style>
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  overflow: auto;
  background-color: #36393f;
}
.book-container {
  display: grid;
  grid-gap: 3rem;
  grid-auto-rows: 21rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 15rem));
  padding: 3rem;
  justify-content: center;
}


</style>
