<template>
  <div v-if="loggedIn()" class="bibliothek-main">
    <fieldset v-if="lastReadBooks.length > 0" class="last-read">
      <legend><h2>Vor kurzem Gelesen</h2></legend>
      <swiper ref="mySwiper" :options="swiperOptions" class="book-swiper">
        <swiper-slide
          class="book-slide"
          v-for="book in lastReadBooks"
          :key="book.ISBN"
        >
          <book :key="book.ISBN" :data="book" />
        </swiper-slide>
      </swiper>
    </fieldset>
    <h2>Bibliothek</h2>
    <div class="book-container bibliothek-container">
      <book :data="book" v-for="book in books" :key="book.ISBN" />
    </div>
  </div>
</template>
<script>
import book from "../components/Book.vue";
import AuthService from "@/services/AuthService.js";
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import "swiper/swiper-bundle.css";

export default {
  name: "Bibliothek",
  data() {
    return {
      books: Object,
      lastReadBooks: Object,
      swiperOptions: {
        slidesPerView: "auto",
        spaceBetween: 22,
        autoHeight: false,
        // Some Swiper option/callback...
      },
    };
  },
  components: {
    book,
    Swiper,
    SwiperSlide,
  },
  directives: {
    swiper: directive,
  },
  created() {
    this.getUserLibrary();
    this.getLastRead();
  },
  computed: {
    swiper() {
      return this.$refs.mySwiper.$swiper;
    },
  },
  methods: {
    loggedIn() {
      if (!this.$store.getters.isLoggedIn) {
        this.$router.push("/login");
        return false;
      } else return true;
    },
    async getUserLibrary() {
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
      };
      const response = await AuthService.getLibrary(credentials);
      this.books = response.books[0];
    },
    async getLastRead() {
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
      };
      const response = await AuthService.getLastRead(credentials);
      this.lastReadBooks = response.books[0];
    },
  },
};
</script>
<style>
.bibliothek-main {
  padding: 0.5rem;
  padding-top: 2rem;
}
.bibliothek-main h2 {
  display: flex;
  margin: 0;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
}
.bibliothek-main svg {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.last-read {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem 3rem 1rem;
  overflow: hidden;
  border: rgb(34, 41, 51) 2px solid;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.book-swiper {
  overflow: visible;
  height: 18rem;
}
.book-slide {
  max-width: 12.5rem;
}
.bibliothek-container {
  justify-content: left !important;
  padding-top: 1.5rem;
}


@media only screen and (max-width: 800px) {
  .last-read {
    margin: 0;
  }
  .bibliothek-container {
    justify-content: center !important;
  }
}
</style>