<template>
  <div class="book-view">
    <div class="main-container">
      <div class="background-container">
        <h1>{{ bookData.Name }}</h1>
        <div class="info-container">
          <div class="image-container">
            <div
              class="image"
              :style="{ backgroundImage: 'url(' + img + ')' }"
            ></div>
          </div>
          <div class="beschreibung">
            <h3>Informationen</h3>
            <div class="info">
              <div>
                ISBN <br />
                Verlag <br />
                Klasse <br />
              </div>
              <div>
                : {{ bookData.ISBN }} <br />
                : {{ bookData.Verlag }} <br />
                : {{ bookData.idJahrgangsstufe }} <br />
              </div>
            </div>
            <h3>Beschreibung</h3>
            <p>
              {{ bookData.Beschreibung }}
            </p>
          </div>
        </div>

        <button @click="isOpen">Lesen</button>
        <button v-if="loggedIn" @click="toLibrary()">
          Bibliothek: {{ inLibrary ? "Entfernen" : "Hinzufügen" }}
        </button>
      </div>
    </div>
    <div v-if="open" class="pdf-popup">
      <button @click="isOpen">Schließen</button>
      <pdf-app
        style="height: 100%"
        :pdf="dataUrlPDF"
        :config="config"
        @open="openHandler"
      ></pdf-app>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";
//import pdf from "vue-pdf";
import PdfApp from "vue-pdf-app";
export default {
  name: "Book-View",
  props: {
    isbn: String,
  },
  data: function () {
    return {
      bookData: Object,
      img: String,
      config: {
        sidebar: {
          viewThumbnail: true,
          viewOutline: true,
          viewAttachments: true,
        },
        findbar: true,
        secondaryToolbar: {
          secondaryPresentationMode: true,
          secondaryOpenFile: true,
          secondaryPrint: true,
          secondaryDownload: true,
          secondaryViewBookmark: true,
          firstPage: true,
          lastPage: true,
          pageRotateCw: false,
          pageRotateCcw: false,
          cursorSelectTool: true,
          cursorHandTool: true,
          scrollVertical: false,
          scrollHorizontal: false,
          scrollWrapped: false,
          spreadNone: false,
          spreadOdd: false,
          spreadEven: false,
          documentProperties: false,
        },
        toolbar: {
          toolbarViewerLeft: {
            previous: true,
            next: true,
            pageNumber: true,
          },
          toolbarViewerRight: {
            presentationMode: true,
            openFile: false,
            print: true,
            download: true,
            viewBookmark: false,
            secondaryToolbarToggle: true,
          },
          toolbarViewerMiddle: {
            zoomOut: true,
            zoomIn: true,
            scaleSelectContatiner: true,
          },
        },
        viewerContextMenu: true,
        errorWrapper: true,
      },
      open: false,
      inLibrary: false,
    };
  },
  components: {
    PdfApp,
  },
  watch: {
    $route(to, from) {
      if (to != from) {
        if (this.open) {
          this.isOpen();
        }
        this.getBookData();
      }
    },
  },
  methods: {
    async getBookData() {
      const credentials = {
        isbn: parseInt(this.isbn, 10),
      };
      const response = await AuthService.getBook(credentials);
      this.bookData = response.book[0];
      let data = await this.bookData.Cover.data;
      this.img = this.dataUrlImg(data);

      const credentials2 = {
        isbn: this.bookData.ISBN,
        idUser: this.$store.getters.getUser.UserId,
      };
      const response2 = await AuthService.inLibrary(credentials2);
      this.inLibrary = response2.inLibrary;
    },
    async openHandler(PDFViewerApplication) {
      PDFViewerApplication.setTitle(this.pageTitle);
      PDFViewerApplication.listenToURL = "false";
    },
    async toLibrary() {
      this.inLibrary = !this.inLibrary;
      const credentials = {
        isbn: this.bookData.ISBN,
        idUser: this.$store.getters.getUser.UserId,
        add: this.inLibrary,
      };
      await AuthService.toLibrary(credentials);
    },
    dataUrlImg(data) {
      return (
        "data:Cover/jpg;base64," +
        btoa(
          new Uint8Array(data).reduce(
            (data, byte) => data + String.fromCharCode(byte),
            ""
          )
        )
      );
    },
    isOpen() {
      if (this.loggedIn) {
        this.open = !this.open;
        if (this.open) {
          this.addLastRead();
        }
      }
    },
    async addLastRead() {
      const credentials = {
        isbn: this.bookData.ISBN,
        idUser: this.$store.getters.getUser.UserId,
      };
      await AuthService.setLastRead(credentials);
    },
  },
  created() {
    this.getBookData();
    this.pageTitle = document.title;
  },
  computed: {
    loggedIn: function () {
      return this.$store.getters.isLoggedIn;
    },
    dataUrlPDF() {
      return (
        "data:buch/pdf;base64," +
        btoa(
          new Uint8Array(this.bookData.PDF.data).reduce(
            (data, byte) => data + String.fromCharCode(byte),
            ""
          )
        )
      );
    },
  },
};
</script>
<style>
.book-view {
  height: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  min-height: 60%;
  background: rgb(30, 42, 53);
  padding: 1rem;
}
.background-container {
  z-index: 100;
  width: 100%;
  height: 100%;
}
.background-container h1 {
  margin: 0;
}
.info-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.info-container h3 {
  text-align: left;
  font-size: 1.4rem;
  color: rgb(44, 128, 255);
}
.info-container p {
  text-align: justify;
  font-size: 1.2rem;
  color: white;
  width: 100%;
}
.info-container .beschreibung {
  max-width: 100%;
  min-width: 60%;
  flex: 1;
}
.info {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 10%;
}
.info div {
  text-align: left;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.image-container {
  flex: 1;
  display: flex;
  max-width: 15rem;
  width: 15rem;
  min-width: 15rem;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
}
.image {
  min-height: 20.5rem;
  height: auto;
  width: 100%;
  box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.9);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.8s;
}
.image:hover {
  transform: scale(1.1);
  box-shadow: inset 0px 0px 20px 15px rgba(0, 0, 0, 0.9);
}

.pdf-popup {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 20rem;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
}
.pdf-app {
  width: 95%;
  height: 100%;
}
.pdf-app .horizontalToolbarSeparator {
  display: none;
}
.toolbar {
  position: unset !important;
}

@media only screen and (max-width: 850px) {
  .main-container{
    padding: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .background-container{
    width: 90%;
  }
  .info-container{
    flex-direction: column;
    align-items: center;
  }
}
</style>