<template>
  <div>
    {{ group }}
    <div class="book-container">
      <book
        v-for="book in books"
        :key="book.ISBN"
        :data="book"
      />
    </div>
  </div>
</template>

<script>
import book from "../components/Book.vue";
import AuthService from "@/services/AuthService.js";

export default {
  name: "Fach-Groupe-View",
  props: {
    group: String,
  },
  data: function () {
    return {
      books: this.getFilterBooks(),
    };
  },
  methods: {
    async getFilterBooks() {
      const credentials = {
        idFach: this.group,
      };
      const response = await AuthService.getFaecherBooks(credentials);
      this.books = response.books;
    },
  },
  components: {
    book,
  },
};
</script>

<style>

</style>
