<template>
  <div >
    <Faecher/>
  </div>
</template>

<script>
import Faecher from '../components/Faecher.vue'

export default {
  name: 'Fach',
  components: {
    Faecher
  }
}
</script>
