<template>
  <div class="home">
    <home-template/>
  </div>
</template>

<script>
import HomeTemplate from '../components/Home-Template.vue'

export default {
  name: 'Home',
  components: {
    HomeTemplate
  }
}
</script>
