<template>
  <div class="FormContainer">
    <div class="inputForm">
      <div class="in-title">Login</div>
      <div class="row">
        <label class="lf-label" for="BName"><i class="fas fa-user" /></label>
        <input
          class="txt-input"
          id="BName"
          type="text"
          placeholder="Benutzername"
          v-model="username"
        />
      </div>
      <div class="row">
        <label class="lf-label" for="PW"><i class="fas fa-key"></i></label>
        <input
          class="txt-input"
          id="PW"
          type="password"
          placeholder="Passwort"
          v-model="password"
        />
      </div>
      <input class="lg-button" type="button" @click="login" value="Anmelden" />
      <div v-if="msg">{{ msg }}</div>
       <router-link to="/Registrieren">Registrieren</router-link>
    </div>
   
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";

export default {
  name: "Login",
  data: function () {
    return {
      username: "",
      password: "",
      msg: "",
    };
  },
  methods: {
    async login() {
      try {
        const credentials = {
          username: this.username,
          password: this.password,
        };
        const response = await AuthService.login(credentials);
        this.msg = response.msg;
        const token = response.token;
        const user = response.user;
        this.$store.dispatch("login", { token, user });
        this.$router.push("/");
      } catch (error) {
        this.msg = error.response.data.msg;
      }
    },
  },
};
</script>
<style>
.FormContainer {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  padding: 0.5rem;
}
.in-title {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 2.5rem;
}
.inputForm {
  height: 50%;
  padding: 1.5em;
  padding-top: 1em;
  position: relative;
  width: 20vw;
  min-width: 20rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #636872;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.4);
}
.inputForm::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(51, 126, 238);
}

.row {
  height: 2.5rem;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.lf-label {
  cursor: pointer;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 126, 238);
}
.txt-input {
  flex: 1;
  width: 100%;
  font-size: 1.2rem;
  padding: 0 5px 0 10px;
  transition: transform 0.15s ease, border-radius 0.15s ease,
    box-shadow 0.15s ease;
  border: none;
}
.txt-input:focus {
  outline: none;
  transform: scale(1.06);
  border-radius: 5px;
  box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.4);
}
.lg-button {
  display: block;
  padding: 0.5em;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 600;
  transition: 0.25s ease;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border: solid rgb(51, 126, 238) 2px;
  
}
.lg-button:hover {
  transform: scale(1.05);
  background-color:rgb(51, 126, 238);
  border: solid rgb(32, 89, 175) 2px;
  color: white;
  border-radius: 10px;
  text-shadow: 1px 1px 2px #000000;
  
}
.lg-button:active {
  transform: scale(0.95);
}
@media only screen and (max-width: 800px) {
  .inputForm{
    width: 60vw !important;
  }

}
</style>