<template>
  <div class="profile">
    <div class="sidebar">
      <div
        class="item"
        @click="selectedItem = 0"
        :class="{ selected: selectedItem == 0 }"
      >
        <h4>Übersicht</h4>
      </div>
      <div
        class="item"
        @click="selectedItem = 1"
        :class="{ selected: selectedItem == 1 }"
      >
        <h4>Passwort ändern</h4>
      </div>
      <div
        class="item"
        @click="selectedItem = 2"
        :class="{ selected: selectedItem == 2 }"
        v-if="isLehrer==true"
      >
        <h4>Einladungen</h4>
      </div>
    </div>
    <div class="main">
      <profile-overview v-if="selectedItem === 0"></profile-overview>
      <changePassword v-if="selectedItem === 1"></changePassword>
      <inviteCodes v-if="selectedItem === 2 && isLehrer==true"></inviteCodes>
    </div>
  </div>
</template>
<script>
import profileOverview from "../components/profile-overview.vue";
import changePassword from "../components/change-password.vue";
import inviteCodes from "../components/invite-codes.vue";
import AuthService from "@/services/AuthService.js";
export default {
  name: "Profil",
  data() {
    return {
      selectedItem: 0,
      isLehrer:false
    };
  },
  created() {
    this.hasPermission()
  },
  methods:{
   async hasPermission(){
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
      };
      const isLehrer = await AuthService.isLehrer(credentials);
      this.isLehrer= isLehrer.isLehrer;
    }
  },
  components: {
    profileOverview,
    changePassword,
    inviteCodes
  },
};
</script>
<style>
.profile {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 75%;
  margin: auto;
  padding-top: 2rem;
}
.sidebar {
  display: flex;
  flex-direction: column;

  height: 100%;
}
.main {
  width: 100%;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 0.75rem;
  background-color: #4a5564;
  user-select: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.item h4 {
  z-index: 10;
  width: 100%;
  text-align: center;
  margin: 0;
}
.item::before {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  height: 100%;
  background-color: rgb(51, 126, 238);
  transition: ease-in-out 0.2s;
  transition-delay: 0.05s;
  border-radius: 0 50% 50% 0;
}
.item:hover::before {
  width: 100%;
  border-radius: 0;
}
.item:active {
  transform: scale(1.03);
}
.item:active::before {
  background-color: rgb(44, 105, 196);
}
.selected {
  background-color: rgb(51, 126, 238);
}
@media only screen and (max-width: 830px) {
  .profile{
    width: inherit;
    margin: 0;
  }
}

@media only screen and (max-width: 651px) {
  .profile {
    flex-direction: column;
    margin: 0;
    width: inherit;
  }
  .sidebar {
    flex-direction: row;
    width: 100%;
    height: 6rem;
    align-items: center;
    justify-content: center;
  }
  .item:nth-child(even) {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  .main{
    width: 100%;
  }
}
</style>
