<template>
  <div class="search-container">
    <h2>Suchergebnisse für: {{ search }}</h2>
    <div class="book-container main-search" v-if="books.length > 0">
      <book v-for="book in books" :key="book.ISBN" :data="book" />
    </div>
    <div v-if="books.length == 0">Keine Ergebnisse gefunden</div>
  </div>
</template>
<script>
import book from "../components/Book.vue";
import AuthService from "@/services/AuthService.js";

export default {
  name: "Suche-View",
  props: {
    search: String,
  },
  data: function () {
    return {
      books: Object,
    };
  },
  created() {
    this.getSearch();
  },
  watch: {
    $route(to, from) {
      if (to != from) {
        this.getSearch();
      }
    },
  },
  methods: {
    async getSearch() {
      const credentials = {
        searchStr: this.search,
      };
      const response = await AuthService.getSearch(credentials);
      this.books = response.books[0];
    },
  },
  components: {
    book,
  },
};
</script>
<style>
.search-container {
  padding: 2rem;
}
.search-container h2 {
  margin: 0;
  text-align: left;
  margin-bottom: 2rem;
}
.main-search {
  padding: 0;
  justify-content: left;
}
@media only screen and (max-width: 800px) {
  .main-search {
    justify-content: center;
  }
  .search-container h2 {
    margin: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
}
</style>
