<template>
  <div class="book">
    <router-link :to="{ name: 'ViewBook', params: { isbn: data.ISBN + '' } }">
      <img :src="dataUrl" />

      <div class="expand">
        {{ data.Name }} <br />
        {{ data.Fachname }} <br />
        ISBN: {{ data.ISBN }}
      </div>
    </router-link>
  </div>
</template>
<script>
export default {
  name: "book",
  props: {
    data: Object,
  },
  computed: {
    dataUrl() {
      return (
        "data:Cover/jpg;base64," +
        btoa(
          new Uint8Array(this.data.Cover.data).reduce(
            (data, byte) => data + String.fromCharCode(byte),
            ""
          )
        )
      );
    },
  },
};
</script>
<style>
.book {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: ease-in 0.25s;
  transition-delay: 0.05s;
  transform-origin: center 33%;
  background: lightgray;
  overflow: hidden;
  border-radius: 15px;
  background-color: rgba(35, 47, 62, 1);
  border: rgba(35, 47, 62, 1) 2px solid;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.65);
  overflow: hidden;
}
.book a {
  text-decoration: none;
}
.book:hover {
  transform: scale(1.15);
  border-radius: 0px;
  box-shadow: 0px 12px 10px -1px rgba(0, 0, 0, 0.8);
}
.book img {
  display: block;
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.expand {
  position: absolute;
  color: white;
  padding-top: 5.5rem;
  max-height: 8rem;
  height: 8rem;
  width: 100%;
  z-index: 100;
  background: rgb(35, 47, 62);
  background: linear-gradient(
    0deg,
    rgba(35, 47, 62, 1) 0%,
    rgba(35, 47, 62, 0.98) 60%,
    rgba(35, 47, 62, 0) 100%
  );
  transition: transform ease-in 0.1s;
  transition-delay: 0.1s;
}

.book:hover .expand {
  transform: translateY(-100%);
}
</style>