<template>
  <div class="fach-container">
    <router-link
      v-for="fach in faecher"
      :key="fach.idFach"
      :to="{ name: 'Fachgroupe', params: { group: fach.Fachname } }"
      class="fach"
      >{{ fach.Fachname }}
    </router-link>
  </div>
</template>

<script>
import AuthService from "@/services/AuthService.js";

export default {
  name: "Faecher",
  data: function () {
    return {
      faecher: this.getFaecher()
    };
  },
  methods: {
    async getFaecher(){
      const response= await AuthService.getFaecher();
      this.faecher= response.faecher
    }
  },
};
</script>
<style>
.fach-container {
  display: grid;
  grid-gap: 3rem;
  grid-auto-rows: 20vh;
  grid-template-columns: repeat(auto-fill, minmax(10vh, 20vh));
  padding: 3rem;
  justify-content: center;
}

.fach {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid black 1px;
  cursor: pointer;
  transition:ease-out 0.3s;
  word-break: keep-all;
  background-color: #4a5564;
  box-shadow: 3px 3px 10px -1px rgb(0 0 0 / 40%);
}

.fach:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 15px 1px rgb(0 0 0 / 55%);
}
.fach-container a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;

}
</style>