<template>
  <div class="book-container">
    <book v-for="book in books" :key="book.ISBN" :data="book"/>
  </div>
</template>

<script>
import book from "../components/Book.vue"
import AuthService from '@/services/AuthService.js';
export default {
  name: "Home-Template",
  components:{
      book
  },
  data: function () {
    return {
      //books: this.$bookData
      books: this.getBooks()
    };
  },
  methods:{
    over(i){
      console.log(i)
      this.gsap.to(this.$refs.books[i],{duration:0.5,ease: "power1.out", y:-500});
    },
    async getBooks(){
      const response= await AuthService.getBooks();
      this.books = response.books
    }
  }
};
</script>

<style>



</style>