<template>
  <div class="Invites-container">
    <div class="form-container">
      <div>
        <label for="jahrgang">Jahrgang: </label>
        <select v-model="jahrgangSelect" id="Jahrgang">
          <option v-if="jahrgangSelect == -1" value="-1">Bitte wählen</option>
          <option
            v-for="jahrgang in jahrgaenge"
            :key="jahrgang.idJahrgangsstufe"
            :value="jahrgang.idJahrgangsstufe"
          >
            {{ jahrgang.idJahrgangsstufe }} - Klasse
          </option>
        </select>
      </div>
      <div>
        <label for="maxVerwendungen">Max. Verwen.: </label>
        <input
          type="number"
          min="1"
          max="35"
          v-model="maxVerwendungen"
          id="maxVerwendungen"
        />
      </div>
      <button @click="addCode">Erstellen</button>
    </div>
    <table id="Invites">
      <tr>
        <th>Jahrgang</th>
        <th>Einladungscode</th>
        <th>Max. Verw.</th>
        <th>Datum</th>
      </tr>
      <tr v-for="code in inviteCodes" :key="code.idEinladungscode">
        <td>{{ code.idJahrgangsstufe }}</td>
        <td>{{ code.idEinladungscode }}</td>
        <td>{{ code.maxVerwendungen }}</td>
        <td>{{ formatDate(code.Datum) }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import AuthService from "@/services/AuthService.js";

export default {
  name: "invite-codes",
  data() {
    return {
      codes: Object,
      jahrgaenge: Object,
      jahrgangSelect: -1,
      maxVerwendungen: 1,
    };
  },
  created() {
    this.getCodes();
    this.getJahrgaenge();
  },
  methods: {
    async getJahrgaenge() {
      const response = await AuthService.getJahrgaenge();
      this.jahrgaenge = response.jahrgaenge;
    },
    async getCodes() {
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
      };
      const response = await AuthService.getInviteCode(credentials);
      this.codes = response.codes;
    },
    async addCode() {
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
        idJahrgang: this.jahrgangSelect,
        maxVerwendungen: this.maxVerwendungen,
      };
      const response = await AuthService.addInviteCode(credentials);
      this.codes = await response.codes[0];
    },
    formatDate(_date) {
      let date = new Date(_date);
      let month = "" + (date.getMonth() + 1),
        day = "" + date.getDate(),
        year = date.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;
      return [day, month, year].join(".");
    },
  },
  computed: {
    inviteCodes: function () {
      return this.codes;
    },
  },
};
</script>
<style>
.Invites-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.25rem;
}
#Invites {
  border-collapse: collapse;
  width: 95%;
  box-sizing: border-box;
  overflow: hidden;
}

#Invites td,
#Invites th {
  flex: 1;
  border: 1px solid #3d4653;
  padding: 8px;
}
#Invites th {
  padding: 8px;
  background-color: rgb(51, 126, 238);
  font-size: 1.2rem;
  word-break: break-all;
  hyphens: auto;
}
#Invites tr {
  display: flex;
  background-color: #4a5564;
  transition: ease 0.2s;
  height: 2.2rem;
  font-size: 1.1rem;
}
#Invites tr:nth-child(even) {
  background-color: #5c6777;
}
#Invites tr:hover {
  background-color: #5077b1;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
}
.form-container {
  width: 100;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.form-container input,
.form-container select {
  margin-right: 2rem;
}
.form-container label {
  margin-right: 0.4rem;
}
@media only screen and (max-width: 575px) {
  #Invites {
    width: 100%;
  }
  #Invites th {
    padding: 8px;
    background-color: rgb(51, 126, 238);
    font-size: 1rem;
    word-break: break-all;
    hyphens: auto;
  }

  #Invites td:last-child,
  #Invites th:last-child {
    display: none;
  }
  .form-container{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }
  .form-container div{
      margin-bottom: 0.4rem;
  }
}
</style>