<template>
  <div id="nav">
    <div
      id="nav-bar-toggle"
      @click="openCanvas"
      :style="{ transform: isActive ? 'rotateZ(90deg)' : '' }"
    >
      <i class="fas fa-bars"></i>
    </div>
    <div id="start">
      <searchBox></searchBox>
    </div>
    <div id="center" :class="{ active: isActive }">
      <ul class="nav-list">
        <li class="nav-item">
          <router-link class="home homeImg" to="/" title="Home">
            <img class="homeImg" src="../assets/Logo-02.png" />
          </router-link>
        </li>
        <li v-if="loggedIn" class="nav-item">
          <router-link to="/Bibliothek" title="Bibliothek"
            ><i class="fas fa-book"></i>Bibliothek
          </router-link>
        </li>
        <li class="nav-item">
          <router-link to="/Fach" title="Fächer">
            <i class="fas fa-bookmark"></i> Fächer
          </router-link>
        </li>
      </ul>
    </div>
    <div id="end" :class="{ active: isActive }">
      <div class="nav-item" v-if="!loggedIn">
        <router-link to="/Login"> Login
        </router-link>
      </div>
      <div class="nav-item" v-if="loggedIn">
        <router-link to="/Profil" title="Profil">
          <div><i class="fas fa-user"></i>{{this.$store.getters.getUser.Benutzername}}</div>
        </router-link>
      </div>
      <div class="nav-item logout-hover" v-if="loggedIn">
        <div @click="logout" title="Logout" class="logout"><i class="fas fa-sign-out-alt"></i></div>
      </div>
    </div>
  </div>
</template>
<script>
import searchBox from "../components/search.vue";
export default {
  name: "Navbar",
  data() {
    return {
      isActive: false,
    };
  },
  components: { searchBox },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/login");
    },
    openCanvas() {
      console.log(this.isActive);
      this.isActive = !this.isActive;
    },
  },
  computed: {
    loggedIn: function () {
      return this.$store.getters.isLoggedIn;
    },
  },
};
</script>
<style>
#nav {
  position: sticky;
  z-index: 1000;
  padding: 0 1rem;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: black solid 1px;
  background-color: white;
  font-size: 1.7rem;
  /*background-color: #1b2530;*/
  background-color: #2f3136;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.65);
}

#nav a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

#nav a.router-link-exact-active {
  color: rgb(51, 126, 238);
}
#start,
#center,
#end {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#start {
  position: relative;
  justify-content: flex-start;
}
#center {
  justify-self: center;
  flex: 0 1;
}
#end{
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  position: relative;
  padding: 0 1rem 0 1rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(0, 0, 255, 0) solid 3px;
  transition:  background-color ease-in 0.2s;
}
.nav-item a{
  display: flex;
  justify-content: center;
}

.nav-item a::before {
  display: block;
  content: "";
  position: absolute;
  background-color: rgb(51, 126, 238);
  height: 3px;
  width: 0;
  float: left;
  bottom: 0;
  transform: translateY(3px);
  transition: ease-in 0.15s;
}
.nav-item a.router-link-exact-active:before{
  width: 100% !important;
}

.nav-item:hover a::before {
  width: 100%;
}
.nav-item:hover{
  background-color: #4a5564;
}
.nav-item:hover svg{
  transform: scale(1.2);
}

.nav-item a {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item svg{
  transition: transform ease 0.2s;
  margin-right: 0.75rem;
}
#end .logout-hover:hover{
  background-color: #ff4335;
}
.logout svg{
 margin: 0;
}

.homeImg {
  height: 4rem;
  width: auto;
}
#nav-bar-toggle {
  position: absolute;
  display: none;
  left: 10px;
  cursor: pointer;
  margin: 0.25rem 0;
}
/*
.navItem {
  height: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  align-items: center;
  width: initial;
  min-width: 5rem;
  transition: 0.3s;
}
.navItem:hover {
  background-color: lightgray;
}
*/
@media only screen and (max-width: 875px) {
  #nav {
    width: inherit;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  #nav-bar-toggle {
    display: block;
    transition: ease 0.1s;
  }
  #start {
    width: 70%;
  }
  #center,
  #end {
    display: none;
  }
  #center{
    margin-top: 1rem;
  }
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    margin-top: 0.25rem;
  }
  .active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
</style>