<template>
  <div class="userInfo-container">
    <div class="userInfo">
      <div class="row"  v-for="(data, index) in user" :key="data.UserId">
        <div><span>{{ index }}: </span> {{ data }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      user: Object,
    };
  },
  created() {
    this.getUserData();
  },
  methods: {
    async getUserData() {
      const credentials = {
        idUser: this.$store.getters.getUser.UserId,
      };
      const isLehrer = await AuthService.isLehrer(credentials);
      if (await isLehrer.isLehrer==true) {
        const response = await AuthService.getUserDataLehrer(credentials);
        this.user = await response.user[0];
      } else {
        const response = await AuthService.getSchuelerData(credentials);
        this.user = await response.user[0];
      }
      this.user.Rolle = isLehrer.isLehrer==true ? "Lehrer" : "Schüler";
    },
  },
};
</script>
<style>
.userInfo-container {
  width: initial;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
.userInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
}
.userInfo div {
  width: 100%;
  flex: 1;
  text-align: left;
  height: 1rem;
  margin-bottom: 0.75rem;
  white-space: nowrap;
}

.userInfo span{
    margin: 0;
    font-weight: bold;
    color:  rgb(107, 166, 255);
}
</style>