<template>
  <div class="search-box">
    <input
      type="text"
      v-model="searchTxt"
      placeholder="Suche..."
      class="search-txt"
    />
    <button class="search-button" @click="search()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</template>
<script>
export default {
  name: "Search-box",
  data() {
    return {
      searchTxt: "",
    };
  },
  methods: {
    search() {
      if (this.searchTxt != "") {
        this.$router.push("/Suche/" + this.searchTxt);
        this.searchTxt = "";
      }
    },
  },
};
</script>
<style>
.search-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  height: 2.5rem;
  transition: ease-in 0.2s;
}
.search-box * {
  height: 100%;
}
.search-box:focus-within {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search-txt {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  border: none;
  padding: 0;
  padding-left: 5px;
  background: none;
  border-radius: 10px 0 0 10px;
  border: solid rgb(51, 126, 238) 1px;
  border-right: none;
  font-size: 20px;
  color: white;
  min-width: 12rem;
  width: 12rem;
  transition: ease-in 0.2s;
}
.search-txt::placeholder {
  color: white;
}
.search-box:focus-within .search-txt {
  width: 18vw;
}
.search-box:focus-within .search-button {
  background-color: rgb(51, 126, 238);
  border-radius: 0 20px 20px 0;
  color: white;
}
.search-button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 18px;
  transition: transform 0.2s;
  color: rgb(51, 126, 238);
  font-size: 1.5rem;
  border-radius: 0 10px 10px 0;
  border: solid rgb(51, 126, 238) 1px;
  border-left: none;
  transition: ease-in 0.1s;
  padding: 0 10px;
}
.search-button svg {
  transition: ease-in 0.1s;
}
.search-button:hover svg {
  transform: scale(1.15);
}

.search-button:active {
  position: relative;
  top: 1px;
}
@media only screen and (max-width: 875px) {
  .search-box {
    position: relative !important;
    width: 100%;
  }
  .search-txt {
    width: 100%;
  }
  .search-box:focus-within .search-txt {
    width: 100%;
  }
}
</style>